.navbar {
    background-color: rgb(110, 107, 107);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px;

}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-right: auto;
    border: 5px solid transparent; /* Initial border (invisible) */
}

.navbar-item:hover {
    background-color: #c58585; /* Highlight color on hover */
    border: 5px solid #c58585;
    border-radius: 10px;
}


.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

footer {
    background-color: rgb(86, 136, 132);
    width: 100%;
    flex-shrink: 0;
}

.product-img {
    width: 100%; 
    height: 600px; 
    object-fit: cover; 
}
.btn-not-verified {
    background-color: red;
    color: white;
    pointer-events: none; /* Disable pointer events */
}
.btn-not-verified:hover {
    background-color: red;
    color: white;
    pointer-events: none; /* Disable pointer events */
}
.btn-verified {
    background-color: green;
    color: white;
    pointer-events: none; /* Disable pointer events */
}
.btn-verified:hover {
    background-color: green;
    color: white;
    pointer-events: none; /* Disable pointer events */
}

.section-heading {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 36px;
}
.section-content {
    font-size: 18px;
}

.carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.carousel-caption h3 {
    font-size: 36px;
}
.carousel-caption p {
    font-size: 18px;
}

.product-img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
}
<<<<<<< Updated upstream

.custom-toggler.navbar-toggler {
    border-color: white; /* Blue border color */
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Solid blue line color */
=======
#logo {
    max-width: 500px;
    height: 100px;
}

.containerPayment {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

htop {
    font-size: 130%;
    font-weight: 100;
    font-family: arial, sans-serif;
    color: #bbb;
    text-align: center;
    margin-top: 50px;
}

hPayment {
    font-size: 300%;
    font-weight: 500;
    font-family: arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.Payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 750px;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
}

input[type=text].p, input[type="password"].p, select.p {
    display: block;
    font-family: arial, sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    width: 350px;
    border-radius: 8px;
}

input[type="submit"].p {
    background-color: #4CAF50;
    color: #fff;
    font-family: arial, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    width: 172px;
    height: 50px;
}

.card-image {
    width: 250px;
    height: 125px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
}

.input-container {
    position: relative;
}

.placeholder {
    font-family: arial, sans-serif;
    position: absolute;
    top: 18px;
    left: 10px;
    color: #999;
    transition: all 0.2s ease-out;
    pointer-events: none;
}

input[type="password"].p:focus + .placeholder,
input[type="password"].p:valid + .placeholder,
input[type="text"].p:focus + .placeholder,
input[type="text"].p:valid + .placeholder {
    font-family: arial, sans-serif;
    top: 5px;
    left: 12px;
    font-size: 14px;
}

input[type="password"].p:focus + .placeholder,
input[type="text"].p:focus + .placeholder {
    color: blue;
}

input[type="text"].p:focus,
input[type="password"].p:focus {
    padding-top: 30px;
}

input[type=password].p:not(:placeholder-shown),
input[type=text].p:not(:placeholder-shown){
    padding-top: 30px;
}

input[type="text"].valid, input[type="password"].valid, select.valid {
    border-color: chartreuse;
}

input[type="text"].invalid, input[type="password"].invalid, select.invalid {
    border-color: red;
}

.validity {
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 12px;
    color: red;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.validity.valid {
    color: green;
}

.validity.invalid {
    color: red;
}

#invalid-comment, #invalid-card, #invalid-date, #invalid-code {
    font-family: arial, sans-serif;
    margin-left: -90px;
    margin-bottom: 10px;
    color: red;
}

#invalid-card {
    margin-left: -147px;
}

#invalid-date {
    margin-left: -150px;
}

#invalid-code {
    margin-left: -85px;
>>>>>>> Stashed changes
}