<html lang="en">
    {% include "header.html" %}
    <body>
        {% include "navbar.html" %}
        <main class="container-fluid">
            <div class="d-flex h-75 flex-column min-vh-100" style = "padding-top: 2%; padding-bottom: 2%;">
                <div class="card align-self-center bg-light border-light">
                    <div class="card-body mx-5">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <h3 class="fw-bold mb-4 pt-2 text-center">Forgot Password?</h3>
                        <form method="POST">
                            <p class="text-center">
                                Please enter your email address below and we will send you a new link to reset your password.
                            </p>
                            <div class="form-group">
                                <input class="form-control" name="email" type="email" id="email" maxlength="45" required name="email" placeholder="Email address">
                            </div>
                            <br />
                            <button type="submit" class="btn btn-dark btn-block mb-4"> Send code </button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
    </body>
    
</html>