<html lang="en">
    {% include "header.html" %}
    <body>
        {% include "navbar.html" %}
        <main class="container-fluid">
            <div class="d-flex h-75 justify-content-center min-vh-100">
                <!--<div class="card shadow-5-strong align-self-center">-->
                <div class="card align-self-center bg-light border-light">
                    <div class="card-body mx-5">
                        <h3 class="fw-bold mb-4 pt-2 text-center">Login</h3>
                        <form method="POST">
                            <!--Email Input-->
                            <div class="form-group">
                                <input class="form-control" name="email" type="email" id="email" maxlength="45" required name="email" placeholder="Email">
                            </div>
                            <br />
                            <!--Password Input-->
                            <div class="form-group">
                                <input class="form-control" name="password" type="password" id="pwd" minlength="10" required name="pwd" placeholder="Password">
                            </div>
                            <br />
                            <!--Who are you-->
                            <div class="form-group">
                                <select class="form-select" name="identity" aria-label="Select Identity" id="identity">
                                    <option disabled selected>Who are you?</option>
                                    <option value="user">User</option>
                                    <option value="filmmaker">Filmmaker</option>
                                </select>
                            </div>
                            <br />
                            <!--Submit button-->
                            <button type="submit" class="btn btn-dark btn-block mb-4">Login</button>

                            <p class="text-center">
                                Not a member yet? <br class="d-md-none d-lg-none" />Register <a href="register">here</a>.
                                <!--Forget Password? Click <a href="">here</a>.-->
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
    </body>
</html>
