<html lang="en">
    {% include "header.html" %}
    <body>
        {% include "navbar.html" %}
        <!-- Page Content -->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                {% for i in range(0, products_list|length, 3) %}
                <div class="row justify-content-center">
                    {% for product in products_list[i:i+3] %}
                        <div class="col mb-5{% if loop.index == 3 and loop.first %} offset-md-2{% endif %}">
                            <div class="card h-100">
                                <img src="{{ url_for('product_image', product_id=product.product_id) }}" class="card-img-top" alt="{{ product.product_name }}">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="card-title">{{ product.product_name }}</h5>
                                        <p>${{ product.price }}</p>
                                    </div>
                                </div>
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('my_products_details', product_id=product.product_id) }}">View Details</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </section>
        {% include "footer.html" %}
    </body>
    </html>
