<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/payment2.css') }}">

    </head>
    <body>
	    <form class="Payment" action="{{ url_for('user.process_payment') }}" method="POST">
            <input type="hidden" name="screeningId" id="screeningId" value="{{ screeningId }}">
            <input type="hidden" name="tickets" id="tickets" value="{{ tickets }}">
            <input type="hidden" name="price" id="price" value="{{ tickets * price }}">
            <input type="hidden" name="filmName" id="filmName" value="{{ filmName }}">
            <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            <htop>Checkout total</htop>
            <hPayment>${{ tickets * price }}0</hPayment>
            <img class="card-image" id="card-image" src="" alt="img">
            <div class="input-container">
            <input class='p' type="text" id="card-number" name="card-number" maxlength="19"  placeholder="" required
                   oninput="
                    this.value = this.value.replace(/[^0-9]/g, '');
                    let cardNumber = this.value;
                    let formattedValue = '';
                    for (let i = 0; i < this.value.length; i += 4) {
                        formattedValue += this.value.substr(i, 4) + ' ';
                    }
                    this.value = formattedValue.trim();

                    // Checks if card number is valid through Luhn's Algorithm
                    if (luhnAlgorithm(cardNumber) === true) {
                        this.classList.add('valid');
                        this.classList.remove('invalid');
                        document.getElementById('invalid-comment').style.display = 'none';
                    } else if (luhnAlgorithm(cardNumber) === false) {
                        this.classList.add('invalid');
                        this.classList.remove('valid');
                        document.getElementById('invalid-comment').style.display = 'block';
                    } else {
                        this.classList.remove('valid', 'invalid');
                        document.getElementById('invalid-comment').style.display = 'none';
                    } "
                   onblur="
                    if (!this.value) {
                        this.classList.remove('valid', 'invalid');
                        document.getElementById('invalid-comment').style.display = 'none';
                    }" >
            <div class="placeholder">Debit or credit card number</div>
            </div>
            <div id="invalid-comment" style="display: none;">Please enter a valid card number</div>
            <div class="input-container">
                <select class='p' id="card-type" name="card-type" required
                        oninput="
                        if (this.value != '') {
                            this.classList.add('valid');
                            this.classList.remove('invalid');
                            document.getElementById('invalid-card').style.display = 'none';
                        } else if (this.value === '') {
                            this.classList.add('invalid');
                            this.classList.remove('valid');
                            document.getElementById('invalid-card').style.display = 'block';
                        } else {
                            this.classList.remove('valid', 'invalid');
                            document.getElementById('invalid-card').style.display = 'none';
                        } "
                       onblur="
                        if (!this.value) {
                            this.classList.remove('valid', 'invalid');
                            document.getElementById('invalid-card').style.display = 'none';
                        }" >
                        <option value="">Select your card type</option>
                        <option value="visa">Visa</option>
                        <option value="mastercard">Mastercard</option>
                        <option value="discover">Discover</option>
                        <option value="amex">American Express</option>
                </select>
            </div>
            <div id="invalid-card" style="display: none;">Please select a card type</div>
            <div class="input-container">
                <input class='p' type="text" id="expiration-date" name="expiration-date" maxlength="5" placeholder=""  required
                       oninput="
                        this.value = this.value.replace(/[^0-9]/g, '');
                        let date = this.value;
                        let month = NaN;
                        let year = NaN;
                        const currentDate = new Date();

                        const currentYear = currentDate.getFullYear() % 100;
                        const currentMonth = currentDate.getMonth() + 1;

                        if (this.value.length >= 2) {
                            month = parseInt(this.value.substring(0, 2));
                        }
                        if (this.value.length >= 2) {
                            year = parseInt(this.value.substring(2, 4));
                        }
                        if (this.value.length > 2) {
                            this.value = this.value.substring(0, 2) + '/' + this.value.substring(2, 4);
                        }
                        if (date.length === 4 && month <= 12 && month > 0 && (month >= currentMonth || year > currentYear) && year >= currentYear) {
                            this.classList.add('valid');
                            this.classList.remove('invalid');
                            document.getElementById('invalid-date').style.display = 'none';
                        } else if (date.length !== 4 || month > 12 || month < currentMonth || year < currentYear) {
                            this.classList.add('invalid');
                            this.classList.remove('valid');
                            document.getElementById('invalid-date').style.display = 'block';
                        } else {
                            this.classList.remove('valid', 'invalid');
                            document.getElementById('invalid-date').style.display = 'none';
                        }"
                        onblur="
                        if (!this.value) {
                            this.classList.remove('valid', 'invalid');
                            document.getElementById('invalid-date').style.display = 'none';
                        }" >
                <div class="placeholder">Expiration Date</div>
            </div>
            <div id="invalid-date" style="display: none;">Please enter a valid date</div>
            <div class="input-container">
                <input class='p' type="password" id="cvv" name="cvv" maxlength="3" placeholder="" required
                       oninput="
                       this.value = this.value.replace(/[^0-9]/g, '');
                        if (this.value.length === 3) {
                            this.classList.add('valid');
                            this.classList.remove('invalid');
                            document.getElementById('invalid-code').style.display = 'none';
                        } else if (this.value.length !== 3) {
                            this.classList.add('invalid');
                            this.classList.remove('valid');
                            document.getElementById('invalid-code').style.display = 'block';
                        } else {
                            this.classList.remove('valid', 'invalid');
                            document.getElementById('invalid-code').style.display = 'none';
                        }"
                        onblur="
                        if (!this.value) {
                            this.classList.remove('valid', 'invalid');
                            document.getElementById('invalid-code').style.display = 'none';
                        }" >
                <div class="placeholder">CVV</div>
            </div>
            <div id="invalid-code" style="display: none;">Please enter a valid security code</div>
            <div class="input-container">
                <input class='p' type="text" id="billing-address" name="billing-address" placeholder="" required>
                <div class="placeholder">Billing Address</div>
            </div>
            <div>
                <input class='p' type="submit" value="Cancel" style="background-color: crimson; color: white;" onclick="redirect()">
                <input class='p' type="submit" value="Pay ${{ tickets * price }}0" onclick="
                    const cardNumber = document.getElementById('card-number');
                    const cardTypeSelect = document.getElementById('card-type');
                    const expirationDate = document.getElementById('expiration-date');
                    const cvv = document.getElementById('cvv');
                    if (document.getElementById('card-number').classList.contains('valid') && document.getElementById('expiration-date').classList.contains('valid') && document.getElementById('cvv').classList.contains('valid') && ['visa', 'mastercard', 'discover', 'amex'].includes(cardTypeSelect.value)) {
                        return true;
                    } else {
                        if (cardNumber.classList.contains('invalid') || [''].includes(cardNumber.value)) {
                            document.getElementById('invalid-comment').style.display = 'block';
                            cardNumber.classList.add('invalid');
                        }
                        if ([''].includes(cardTypeSelect.value)) {
                            document.getElementById('invalid-card').style.display = 'block';
                            cardTypeSelect.classList.add('invalid');
                        }
                        if (expirationDate.classList.contains('invalid') || [''].includes(expirationDate.value)) {
                            document.getElementById('invalid-date').style.display = 'block';
                            expirationDate.classList.add('invalid');
                        }
                        if (cvv.classList.contains('invalid') || [''].includes(cvv.value)) {
                            document.getElementById('invalid-code').style.display = 'block';
                            cvv.classList.add('invalid');
                        }
                        return false;
                    } ">
            </div>
	    </form>
    <script>
        // Changes the card images based on card type selected
        const cardTypeSelect = document.getElementById("card-type");
        const cardImageDiv = document.getElementById("card-image");

        cardTypeSelect.addEventListener("change", () => {
            const cardType = cardTypeSelect.value;

            switch (cardType) {
                case "visa":
                        cardImageDiv.src = "{{ url_for('static', filename='img/Visa.png') }}";
                        break;
                case "mastercard":
                        cardImageDiv.src = "{{ url_for('static', filename='img/Master.png') }}";
                        break;
                case "discover":
                        cardImageDiv.src = "{{ url_for('static', filename='img/Discover.png') }}";
                        break;
                case "amex":
                        cardImageDiv.src = "{{ url_for('static', filename='img/Amex.png') }}";
                        break;
                default:
                        cardImageDiv.src = "{{ url_for('static', filename='img/Default.png') }}";
            }
        });
        cardImageDiv.src = "{{ url_for('static', filename='img/Default.png') }}";

        // Changes placeholder when clicked
        const commentBox = document.querySelector('.comment-box');
        const cardNumberInput = document.querySelector('input[name="card-number"]');
        const cardNumberPlaceholder = cardNumberInput.getAttribute('placeholder');
        cardNumberInput.addEventListener('focus', () => {
                cardNumberInput.setAttribute('placeholder', 'Enter card number');
        });
        cardNumberInput.addEventListener('blur', () => {
                cardNumberInput.setAttribute('placeholder', cardNumberPlaceholder);
        });

        const expirationDateInput = document.querySelector('input[name="expiration-date"]');
        const expirationDatePlaceholder = expirationDateInput.getAttribute('placeholder');
        expirationDateInput.addEventListener('focus', () => {
                expirationDateInput.setAttribute('placeholder', 'mm/yy');
        });
        expirationDateInput.addEventListener('blur', () => {
                expirationDateInput.setAttribute('placeholder', expirationDatePlaceholder);
        });

        const cvvInput = document.querySelector('input[name="cvv"]');
        const cvvPlaceholder = cvvInput.getAttribute('placeholder');
        cvvInput.addEventListener('focus', () => {
                cvvInput.setAttribute('placeholder', 'Enter security code');
        });
        cvvInput.addEventListener('blur', () => {
                cvvInput.setAttribute('placeholder', cvvPlaceholder);
        });

        const addressInput = document.querySelector('input[name="billing-address"]');
        const addressPlaceholder = addressInput.getAttribute('placeholder');
        addressInput.addEventListener('focus', () => {
                addressInput.setAttribute('placeholder', 'Enter address');
        });
        addressInput.addEventListener('blur', () => {
                addressInput.setAttribute('placeholder', addressPlaceholder);
        });

        // Luhn's Algorithm
        function luhnAlgorithm(cardNumber) {
            // Convert the card number to an array of digits
            const digits = Array.from(cardNumber.toString(), Number);

            // Double every other digit starting from the second to last
            for (let i = digits.length - 2; i >= 0; i -= 2) {
                digits[i] = (digits[i] * 2 < 10) ? digits[i] * 2 : digits[i] * 2 - 9;
            }

            // Sum up all the digits
            const total = digits.reduce((acc, digit) => acc + digit, 0);

            // If the total is divisible by 10, then the card number is valid
            if (total % 10 === 0 && cardNumber.length === 16) {
                return true;
            } else {
                return false;
            }
        }
        function redirect() {
            var url = "{{ url_for('moviebooking', filmid=filmid) }}";
            window.location.href = url;
        }
    </script>
    </body>
</html>
