body {
  background-color: #dbdbdb;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #2b3e51;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

